* {
	font-size: 10px;
	font-family: gohufont;
}

window#waybar {
	background: #000000;
	color: #fdf6e3;
}

#workspaces button {
	padding: 0;
	color: #fdf6e3;
}
#workspaces button.active {
	color: #268bd2;
}

#memory,
#cpu,
#battery,
#clock,
#backlight,
#bluetooth,
#pulseaudio,
#pulseaudio,
#tray,
#temperature,
#disk {
	padding: 0 4px;
}
